<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Info App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <section class="section-dashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="the_temp">Searched Cities</h1>
                    <a href="/" class="the_temp">Go Back</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class='container-fluid'>
            
            <div class="row">
                <%if (weather_data.length > 0) { %>

                    <% for( x=0; x<weather_data.length; x++) { %>
                        <div class="col-sm-2">
                            <div class="card" style="margin-bottom:20px;">
                                <div class="panel-body">
                                    <div class="card-body">
                                        <h3 class="the_temp"><%= weather_data[x].name%></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>

                <% } else{ %>
                    <div class="col-sm-12">
                            <div class="card" style="margin-bottom:20px;">
                                <div class="panel-body">
                                    <div class="card-body">
                                        <h3 class="the_temp">You have not searched any city yet</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                <% } %>
                
            </div>
            
        </div>
    </section>
    <section>
        
    </section>
</body>

</html>